// Changes to Element-UI
@import './variables';

// Increase border radius
.el-dialog {
  border-radius: 10px;

  // Handle width
  @media screen and (min-width: 550px) {
    min-width: 500px;
    max-width: 600px;
  }
}

// Bold title for modal
.el-dialog__title {
  font-weight: 500;
}

// Input label color primary
.el-form-item__label {
  color: $--color-text-primary;
  font-weight: 500;
}
.el-form:not(.el-form--label-left) {
  .el-form-item__label {
    line-height: 1rem;
  }
}

// Remove underline from <a>
a {
  text-decoration: none;
}

// Put error message and checkbox input closer
label.el-checkbox {
  + .el-form-item__error {
    margin-top: -10px;
  }
}

// Error message
.error-message {
  color: $--color-danger;
  font-size: .9rem;
  font-weight: 500;
}

// Fix position of counter below input
.el-textarea .el-input__count {
  position: static;
  display: block;
  text-align: right;
  margin-top: -5px;
  background: none;
}

// Remove button style
// This is an util, but has to be last, so I put it here...
.no-button {
  &,
  &:hover,
  &:active,
  &:focus {
    border-color: transparent;
    background: none;
    color: $--color-primary;
  }
}

// Align emoji and text inside button
button,
a,
.icon-format {
  img {
    vertical-align: middle;
    & + span {
      margin-left: 10px;
    }
  }

  span {
    vertical-align: middle;
  }
}

// Smaller time input
.el-date-editor .el-range-input {
  width: 65px;
}
.el-date-editor--timerange.el-input__inner {
  max-width: 210px;
}

/* v-loading inside input is smaller */
.small-loading,
.el-input,
.el-select-dropdown,
.el-radio-group,
.el-checkbox {
  .el-loading-mask,
  + .el-loading-mask {
    .circular {
       height: 22px;
       width: 22px;
       margin-top: 11px;
       background: white;
     }

    // For radio group, put back first radio element left border
    + .el-radio-button {
      .el-radio-button__inner {
        border-left: 1px solid #dcdfe6;
        border-radius: 4px 0 0 4px;
        box-shadow: none;
      }
      &:not(.is-active) {
        border-radius: 4px 0 0 4px;
      }
    }
  }
}
