// Changes to Element-UI
@import './variables';

// Increase border radius
.el-dialog {
  border-radius: 10px;
}

// Bold title for modal
.el-dialog__title {
  font-weight: 500;
}

// Input label color primary
.el-form-item__label {
  color: $--color-text-primary;
  line-height: 1rem;
  font-weight: 500;
}

// Remove underline from <a>
a {
  text-decoration: none;
}

// Put error message and checkbox input closer
label.el-checkbox {
  + .el-form-item__error {
    margin-top: -10px;
  }
}

// Error message
.error-message {
  color: $--color-danger;
  font-size: .9rem;
  font-weight: 500;
}
